.cell {
  color: #fff;
  cursor: pointer;
  border: 1px solid #bbb;
  border-radius: 4px;
  background-color: #ddd;
  margin: 3px;
  padding: 7px;
  text-shadow: 0 1px rgba(0,0,0,0.2);
  width: 40px;
  height: 40px;
}

.cell:focus {
  outline: none;
}

.cell--revealed {
  font-weight: bold;
  background-color: #bbb;
  transition: background-color linear 0.2s;
}

.cell--flagged {
  color: #777;
}

.cell--revealed-0 { background-color: #bbb; }
.cell--revealed-1 { background-color: #a99; }
.cell--revealed-2 { background-color: #9a9; }
.cell--revealed-3 { background-color: #99a; }
.cell--revealed-4 { background-color: #9aa; }
.cell--revealed-5 { background-color: #a9a; }

.cell--exploded {
  background-color: #c99;
  animation: 0.7s infinite alternate pulse;
  position: relative;
  z-index: 1;
  color: #fff;
}

@keyframes pulse {
  from {
    box-shadow: 0 0 20px 5px rgba(200, 153, 153, 1);
  }

  to {
    box-shadow: 0 0 25px 10px rgba(200, 153, 153, 1);
  }
}
