body {
  background-color: #231f20;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

code {
  background-color: #333;
}

button {
  border: 1px solid #fff;
  background-color: #231f20;
  border-radius: 3px;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  margin: 0 0.5em;
}
